@model List<MusicStore.Models.Album>
@{
    ViewBag.Title = "Каталог музики";
}
<div id="promotion">
</div>

<h3><em>Ебать</em> ти ЛОХ</h3>

<ul id="album-list">
    @foreach (var album in Model)
    {
        <li><a href="@Url.Action("Details", "Store",
                         new { id = album.AlbumId })">

            <img alt="@album.Title" src="@album.AlbumArtUrl" />
            <span>@album.Title</span> </a>
        </li>
    }
</ul>