@{
    ViewBag.Title = "Помилка";
}
 
<h2>Помилка</h2>
 
<p>Шкода, за непередбачену помилку.
    <a href="javascript:history.go(-1)">Натисніть</a> 
    якщо ви хочете повернутися і спробувати ще раз.</p>
